:root {
    --greenish: #458B74; /*Background color*/
    --darkblue: #2F4F4F; /**/
    --burntorange: #CD6600; /**/
    --tan: #AA7E28; /**/
    --mustard: #FFC125; /**/
}

p {
    color: white;
}

body {
    background-color: var(--greenish);
    
}
/* custom font from google fonts */
.tilt-warp-reg {
  font-family: "Tilt Warp", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
